In [2]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
import seaborn as sns
import pandas as pd

In [5]:
df = pd.read_csv('cardekho_imputated.csv')

In [6]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [7]:
df.drop('car_name', axis=1, inplace=True)
df.drop('brand', axis=1, inplace=True)

In [8]:
df.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [9]:
#getting all different types of features
categorical_features = df.select_dtypes(include=['object']).columns.tolist()
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
discrete_features = [col for col in numerical_features if df[col].nunique() < 25]
continuous_features = [col for col in numerical_features if col not in discrete_features]

In [10]:
from sklearn.model_selection import train_test_split
x = df.drop('selling_price', axis=1)
y = df['selling_price']

In [11]:
x.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [12]:
y.describe()

count    1.541100e+04
mean     7.749711e+05
std      8.941284e+05
min      4.000000e+04
25%      3.850000e+05
50%      5.560000e+05
75%      8.250000e+05
max      3.950000e+07
Name: selling_price, dtype: float64

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x['model'] = le.fit_transform(x['model'])

In [17]:
x.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [23]:
num_features = x.select_dtypes(exclude=['object']).columns.tolist()
one_hot_features = x.select_dtypes(include=['object']).columns.tolist()

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(
    transformers=[
        ('onehot', OneHotEncoder(drop='first'), one_hot_features),
        ('scaler', StandardScaler(), num_features)
    ],remainder='passthrough'
)

In [27]:
x = preprocessor.fit_transform(x)
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1.305434,-0.106551,-0.963485,-0.016113,-0.05351,1.008144,0.510503,-1.738694,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.305434,-0.106551,-0.963485,-0.016113,-0.05351,1.008144,0.510503,-1.738516,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.305434,-0.106551,-0.963485,-0.016113,-0.05351,1.008144,0.510503,-1.738339,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.305434,-0.106551,-0.963485,-0.016113,-0.05351,1.008144,0.510503,-1.738162,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,-0.766029,-0.106551,1.037899,-0.016113,-0.05351,-0.991922,0.510503,-1.737985,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,-0.766029,-0.106551,-0.963485,-0.016113,-0.05351,1.008144,0.510503,1.723327,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,-0.766029,-0.106551,-0.963485,-0.016113,-0.05351,1.008144,0.510503,1.723859,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,-0.766029,-0.106551,1.037899,-0.016113,-0.05351,-0.991922,0.510503,1.724036,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,-0.766029,-0.106551,1.037899,-0.016113,-0.05351,-0.991922,0.510503,1.724213,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,-0.766029,-0.106551,-0.963485,-0.016113,-0.05351,1.008144,-1.958852,1.724391,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [48]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

In [49]:
##create a function to evaluate model
def evaluate_model(y_true, y_pred):
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_true, y_pred)
    return mae, mse, rmse, r2

In [50]:
##beginning model training
models = {
    'Random Forest': RandomForestRegressor(),
    'Decision Tree': DecisionTreeRegressor(),
    'K-Nearest Neighbors': KNeighborsRegressor(),
    'Linear Regression': LinearRegression()
}

In [51]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [52]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model_name = list(models.keys())[i]
    
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    
    mae, mse, rmse, r2 = evaluate_model(y_test, y_pred)
    
    print(f"{model_name} Performance:")
    print(f"Mean Absolute Error: {mae}")
    print(f"Mean Squared Error: {mse}")
    print(f"Root Mean Squared Error: {rmse}")
    print(f"R^2 Score: {r2}")
    print("-" * 30)

Random Forest Performance:
Mean Absolute Error: 97784.63347388907
Mean Squared Error: 53764963537.95816
Root Mean Squared Error: 231872.73133759855
R^2 Score: 0.9285782889309178
------------------------------
Decision Tree Performance:
Mean Absolute Error: 129078.13006811547
Mean Squared Error: 110063816174.38371
Root Mean Squared Error: 331758.6715888278
R^2 Score: 0.8537905438656612
------------------------------
K-Nearest Neighbors Performance:
Mean Absolute Error: 127280.35192993838
Mean Squared Error: 93071105817.5884
Root Mean Squared Error: 305075.57394453656
R^2 Score: 0.8763637657097866
------------------------------
Linear Regression Performance:
Mean Absolute Error: 279686.64791726664
Mean Squared Error: 252588750547.22803
Root Mean Squared Error: 502582.0833925818
R^2 Score: 0.6644595369594529
------------------------------