In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("Travel.csv")
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [3]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [4]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [5]:
df['Gender'] = df['Gender'].replace('Fe Male', 'Female')

In [6]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [7]:
df['MaritalStatus'] = df['MaritalStatus'].replace('Single','Unmarried')

In [8]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [9]:
##checking missig values
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [10]:
feature_with_na = [features for features in df.columns if df[features].isnull().sum()>=1]
for feature in feature_with_na:
    print(feature, np.round(df[feature].isnull().mean()*100,5), '% missing values')

Age 4.62357 % missing values
TypeofContact 0.51146 % missing values
DurationOfPitch 5.13502 % missing values
NumberOfFollowups 0.92062 % missing values
PreferredPropertyStar 0.53191 % missing values
NumberOfTrips 2.86416 % missing values
NumberOfChildrenVisiting 1.35025 % missing values
MonthlyIncome 4.76678 % missing values

In [11]:
df.Age.fillna(df.Age.median(), inplace=True)
df.TypeofContact.fillna(df.TypeofContact.mode()[0], inplace=True)
df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0], inplace=True)
df.NumberOfTrips.fillna(df.NumberOfTrips.median(), inplace=True)
df.NumberOfFollowups.fillna(df.NumberOfFollowups.median(), inplace=True)
df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

In [12]:
df.drop('CustomerID', axis=1, inplace=True)

In [13]:
df.isnull().sum()

ProdTaken                    0
Age                          0
TypeofContact                0
CityTier                     0
DurationOfPitch              0
Occupation                   0
Gender                       0
NumberOfPersonVisiting       0
NumberOfFollowups            0
ProductPitched               0
PreferredPropertyStar        0
MaritalStatus                0
NumberOfTrips                0
Passport                     0
PitchSatisfactionScore       0
OwnCar                       0
NumberOfChildrenVisiting    66
Designation                  0
MonthlyIncome                0
dtype: int64

In [14]:
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.median(), inplace=True)

In [15]:
df.isnull().sum()

ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [16]:
df['totalvisits'] = df['NumberOfChildrenVisiting'] + df['NumberOfPersonVisiting']

In [17]:
df.drop(columns=['NumberOfChildrenVisiting','NumberOfPersonVisiting'], inplace=True)

In [18]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,totalvisits
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [19]:
#get all the numeric features
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']

In [20]:
len(cat_features)

6

In [21]:
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
len(num_features)

12

In [23]:
dis_features = [feature for feature in num_features if len(df[feature].unique())<=25]
len(dis_features)

9

In [24]:
con_features = [feature for feature in num_features if feature not in dis_features]
len(con_features)

3

In [27]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,totalvisits
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [28]:
##train test split
from sklearn.model_selection import train_test_split
x = df.drop('ProdTaken', axis=1)
y = df['ProdTaken']

In [29]:
x.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,totalvisits
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [31]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42,stratify=y)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((3910, 17), (978, 17), (3910,), (978,))

In [33]:
# create column tranformer with 3 types of tranformers
cat_features = x.select_dtypes(include='object').columns 
num_features = x.select_dtypes(exclude='object').columns

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler 

numeric_transformer = StandardScaler()
oh_tranformer = OneHotEncoder(drop = 'first')

preprocessor = ColumnTransformer(
    [
        ("OnehotEncoder", oh_tranformer, cat_features),
        ("StandardScaler", numeric_transformer, num_features)
    ]
)

In [34]:
x_train = preprocessor.fit_transform(x_train)
x_test = preprocessor.transform(x_test)

In [35]:
x_train

array([[ 1.        ,  0.        ,  0.        , ..., -1.27927618,
        -0.22947661, -1.47709318],
       [ 1.        ,  0.        ,  1.        , ..., -1.27927618,
        -0.95993052,  0.64883357],
       [ 0.        ,  0.        ,  1.        , ...,  0.78169204,
         0.54193557, -0.05980868],
       ...,
       [ 1.        ,  0.        ,  1.        , ...,  0.78169204,
        -0.05809362,  0.64883357],
       [ 1.        ,  0.        ,  0.        , ...,  0.78169204,
        -0.16114991,  1.35747582],
       [ 1.        ,  0.        ,  0.        , ...,  0.78169204,
        -0.2681699 , -0.05980868]], shape=(3910, 26))

In [36]:
pd.DataFrame(x_train)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.477328,-1.116889,-2.708464,1.775141,-0.673593,-0.643510,0.670552,-1.279276,-0.229477,-1.477093
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-0.711099,-0.879814,-0.708068,-0.729659,-0.673593,-0.643510,1.401078,-1.279276,-0.959931,0.648834
2,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,-0.711099,-0.642739,0.292129,-0.729659,-0.673593,-0.643510,-0.790500,0.781692,0.541936,-0.059809
3,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-0.711099,1.253859,0.292129,0.522741,1.518913,-0.643510,0.670552,-1.279276,-0.351596,1.357476
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.711099,-1.116889,-0.708068,1.775141,0.422660,-0.643510,-0.790500,0.781692,-1.121876,-0.768451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.477328,0.661172,-0.708068,1.775141,-1.221719,-0.643510,-1.521026,0.781692,0.901878,0.648834
3906,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,-0.711099,-1.116889,0.292129,1.775141,-1.221719,-0.643510,0.670552,-1.279276,1.290887,-0.768451
3907,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.477328,-0.642739,0.292129,-0.729659,-0.673593,-0.643510,-0.790500,0.781692,-0.058094,0.648834
3908,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.711099,-0.642739,0.292129,1.775141,2.067039,-0.643510,1.401078,0.781692,-0.161150,1.357476
3909,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.711099,-0.761277,2.292525,-0.729659,2.067039,1.553978,-0.059974,0.781692,-0.268170,-0.059809

In [37]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [39]:
##apply random forest classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [40]:
model = {
    "random forest": RandomForestClassifier()

}

for m in model:
    print(f"***********{m}************")
    model[m].fit(x_train, y_train)
    y_pred = model[m].predict(x_test)
    print("Accuracy:", accuracy_score(y_test, y_pred))
    print("Classification Report:\n", classification_report(y_test, y_pred))
    print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

***********random forest************
Accuracy: 0.9355828220858896
Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.99      0.96       794
           1       0.97      0.68      0.80       184

    accuracy                           0.94       978
   macro avg       0.95      0.84      0.88       978
weighted avg       0.94      0.94      0.93       978

Confusion Matrix:
 [[790   4]
 [ 59 125]]

In [41]:
#training set performance
y_train_pred = model[m].predict(x_train)
model_train_acc = accuracy_score(y_train, y_train_pred)
print("Training Set Accuracy:", model_train_acc)
model_train_f1 = classification_report(y_train, y_train_pred)
print("Training Set Classification Report:\n", model_train_f1)

Training Set Accuracy: 1.0
Training Set Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      3174
           1       1.00      1.00      1.00       736

    accuracy                           1.00      3910
   macro avg       1.00      1.00      1.00      3910
weighted avg       1.00      1.00      1.00      3910

In [42]:
#test set performance
y_test_pred = model[m].predict(x_test)
model_test_acc = accuracy_score(y_test, y_test_pred)
print("Test Set Accuracy:", model_test_acc)
model_test_f1 = classification_report(y_test, y_test_pred)
print("Test Set Classification Report:\n", model_test_f1)

Test Set Accuracy: 0.9355828220858896
Test Set Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.99      0.96       794
           1       0.97      0.68      0.80       184

    accuracy                           0.94       978
   macro avg       0.95      0.84      0.88       978
weighted avg       0.94      0.94      0.93       978

In [43]:
#hyperparameter tuning
from sklearn.model_selection import GridSearchCV
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 5, 7,8]
}

In [44]:
randomcv_models = [
    ("RF", RandomForestClassifier(), param_grid)
]

In [45]:
from sklearn.model_selection import RandomizedSearchCV
for name, model, params in randomcv_models:
    print(f"***********Tuning {name}************")
    random_search = RandomizedSearchCV(estimator=model, param_distributions=params, n_iter=10, cv=3, n_jobs=-1, verbose=2, random_state=42)
    random_search.fit(x_train, y_train)
    print(f"Best Parameters for {name}: {random_search.best_params_}")
    best_model = random_search.best_estimator_
    y_pred = best_model.predict(x_test)
    print("Accuracy after Hyperparameter Tuning:", accuracy_score(y_test, y_pred))
    print("Classification Report after Hyperparameter Tuning:\n", classification_report(y_test, y_pred))
    print("Confusion Matrix after Hyperparameter Tuning:\n", confusion_matrix(y_test, y_pred))

***********Tuning RF************
Fitting 3 folds for each of 10 candidates, totalling 30 fits
Best Parameters for RF: {'n_estimators': 300, 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_features': 7, 'max_depth': 20}
Accuracy after Hyperparameter Tuning: 0.9263803680981595
Classification Report after Hyperparameter Tuning:
               precision    recall  f1-score   support

           0       0.92      0.99      0.96       794
           1       0.94      0.65      0.77       184

    accuracy                           0.93       978
   macro avg       0.93      0.82      0.86       978
weighted avg       0.93      0.93      0.92       978

Confusion Matrix after Hyperparameter Tuning:
 [[787   7]
 [ 65 119]]